<div class="all-panel">
    <div class="parallax-default default-panel">
        <div class="panel-center">
            @*<h5 class="tittle-default">NOME DA PÁGINA</h5>*@
        </div>
        @*<div class="separator">
            <div class="style-separator-0"></div>
            <div class="style-separator-1"></div>
        </div>*@
    </div>
</div>