<div class="container-parallax">
    <div class="parallax-top nav">
        <div class="background-blur">
            <div class="nav-text anim-easy-in-out-0-5s">
                <img src="../../Images/Logo/BackgroundPizzaWhite.png" alt="logo-center" class="img-center-panel" />
                <h5 class="h-tittle anim-easy-in-out-0-5s">PEDIDOS ONLINE E MUITOS SABORES</h5>
                <h1 class="h-text anim-easy-in-out-0-5s">VENHA PROVAR</h1>
                <button class="btn-nav-top anim-easy-in-out-0-5s btn-default-info">SAIBA MAIS</button>
            </div>
        </div>
    </div>
</div>