@{
    ViewBag.Title = "Index";
}

<div class="container-index">
    <div class="header-index">
        <div>

        </div>
    </div>
    <div class="index-content-1">
        <div class="width-max">
            <div class="tittle-group-info">
                <h1 class="anim-easy-in-out-0-5s">Com os melhores produtos</h1>
                <h5 class="anim-easy-in-out-0-5s">Veja os produtos disponíveis no cardápio</h5>
                <button class="brown-btn-default anim-easy-in-out-0-5s btn-default-info">CARDÁPIO</button>
            </div>
            <div class="group-info">
                <div class="item-info">
                    <p class="tittle-info">Pizzas</p>
                    <p class="info-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio. Aenean sit amet mollis nisi, a consectetur mauris.
                        Phasellus et lorem fringilla, aliquam turpis bibendum, eleifend orci. Cras interdum leo a neque gravida porta.
                    </p>
                </div>
                <div class="item-info">
                    <p class="tittle-info">Esfirras</p>
                    <p class="info-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio. Aenean sit amet mollis nisi, a consectetur mauris.
                        Phasellus et lorem fringilla, aliquam turpis bibendum, eleifend orci. Cras interdum leo a neque gravida porta.
                    </p>
                </div>
                <div class="item-info">
                    <p class="tittle-info">Bebidas</p>
                    <p class="info-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio. Aenean sit amet mollis nisi, a consectetur mauris.
                        Phasellus et lorem fringilla, aliquam turpis bibendum, eleifend orci. Cras interdum leo a neque gravida porta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-light" />
    <div class="index-content-2">
        <div class="width-max">
            <div class="who-text">
                <h1>Quem Somos</h1>
                <h4 class="under-tittle">Conheça os responsáveis por fazer o seu pedido chegar até você...</h4>
                <h3 class="who-info">
                    A Equipe é formada pelos melhores dos melhores na arte de preparar, servir ou entregar o seu pedido quentinho, para que possa almoçar com classe
                    em frente à sua TV.
                </h3>
            </div>
            <div class="group-who">
                <div class="item-who">
                    <div class="img-who">
                    </div>
                    <h3>Nome do Animal</h3>
                    <p class="text-who">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio.
                    </p>
                    <div class="links-social-media">
                        <a href="#" class="fb-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="insta-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="tt-link"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="item-who">
                    <div class="img-who">
                    </div>
                    <h3>Nome do Animal</h3>
                    <p class="text-who">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio.
                    </p>
                    <div class="links-social-media">
                        <a href="#" class="fb-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="insta-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="tt-link"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="item-who">
                    <div class="img-who">
                    </div>
                    <h3>Nome do Animal</h3>
                    <p class="text-who">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio.
                    </p>
                    <div class="links-social-media">
                        <a href="#" class="fb-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="insta-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="tt-link"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="item-who">
                    <div class="img-who">
                    </div>
                    <h3>Nome do Animal</h3>
                    <p class="text-who">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, magna in imperdiet bibendum,
                        lorem sapien commodo dui, sed dictum dui tellus a odio.
                    </p>
                    <div class="links-social-media">
                        <a href="#" class="fb-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="insta-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="tt-link"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
